@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&family=Outfit:wght@100..900&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ocupa a altura total da tela */
    margin: 0; /* Remove margens do body */
    padding: 0; /* Remove preenchimento do body */
    background-color: #f0f0f0;
}



/* Estilo da caixa externa janela login */
#cx-extlgn {
    position: fixed; /* Permite que a caixa externa permaneça fixa no topo */
    top: 0; /* Inicia no topo da tela */
    width: 70vw; /* Ocupa 70% da largura da tela em telas maiores */
    height: 50%; /* Ocupa 60% da altura da tela */
    background-color: #16737D; /* Cor de fundo */
    border-radius: 0 0 15px 15px; /* Bordas arredondadas nas bordas inferiores */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4); /* Adiciona sombra */
    box-sizing: border-box; /* Inclui borda e preenchimento no cálculo da largura */
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Garante que a caixa externa esteja centralizada */
}

/* Estilo da caixa interna */
#cx-intlgn {
    position: fixed; /* Permite que a caixa interna seja posicionada em qualquer lugar da tela */
    top: 72%; /* Ajuste conforme necessário */
    left: 50%; /* Ajuste conforme necessário */
    transform: translate(-50%, -10%); /* Centraliza a caixa interna em relação ao seu próprio tamanho */
    width: 300px; /* Tamanho fixo da largura */
    height: 400px; /* Tamanho fixo da altura */
    background-color: #fff; /* Cor de fundo */
    border-radius: 15px; /* Bordas arredondadas */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Sombra para a caixa interna */
    z-index: 400; /* Garante que a caixa interna fique acima da caixa externa */
}




/* Estilo para o fieldset */
#cxint-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Alinha os elementos no topo do fieldset */
    align-items: center;
    height: 100%;
    padding: 10px;
    border: none;
    box-sizing: border-box;
}

/* Estilos para os parágrafos */
#cxint-formp1 {
    margin: 90px 0 5px 0; /* Adiciona uma margem superior maior para o primeiro parágrafo */
    width: 100%;
    display: flex;
    justify-content: center;
}

#cxint-formp2 {
    margin: 20px 0; /* Mantém o espaçamento padrão entre o segundo parágrafo */
    width: 100%;
    display: flex;
    justify-content: center;
}

#cxint-formp3 {
    margin: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
}


#botao-login {
    padding: 10px 20px;
    background-color: #16737D;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 70%; /* Largura total do botão */
    justify-content: center
}

#botao-login:hover {
    background-color: #64c5cf; /* Efeito ao passar o mouse */
}

/* Estilos para o formulário */
fieldset {
    border: none; /* Remove a borda padrão do fieldset */
    padding: 0; /* Remove padding do fieldset */
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*  JANELA DASH BOARD */

.welcome-text {
    margin-left: 10px; /* Ajuste o valor conforme necessário */
    font-family: "Outfit", sans-serif;
    font-size: 20px;  /* Tamanho da fonte para "Bem-vindo" */
    font-weight: 500; /* Deixa o texto em negrito */
    color: #333;      /* Cor da fonte para "Bem-vindo" */
}

.welcome-name {
    font-family: "Outfit", sans-serif;
    font-size: 30px;  /* Tamanho da fonte para o nome */
    font-weight: bold; /* Deixa o texto em negrito */
    color: #003338;   /* Substitua pela cor que você deseja */
    text-decoration: underline; /* Adiciona o sublinhado */
}

#cx-extdash {
    position: fixed; /* Permite que a caixa externa permaneça fixa no topo */
    top: 0; /* Inicia no topo da tela */
    width: 70vw; /* Ocupa 70% da largura da tela em telas maiores */
    height: 800px; /* Ocupa 60% da altura da tela */
    background-color: #16737d; /* Cor de fundo */
    border-radius: 0 0 15px 15px; /* Bordas arredondadas nas bordas inferiores */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4); /* Adiciona sombra */
    box-sizing: border-box; /* Inclui borda e preenchimento no cálculo da largura */
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Garante que a caixa externa esteja centralizada */
}  

#cx-intdash {
    position: fixed; /* Permite que a caixa externa permaneça fixa no topo */
    top: 0; /* Inicia no topo da tela */
    width: 67vw; /* Ocupa 70% da largura da tela em telas maiores */
    height: 70px; /* Ocupa 60% da altura da tela */
    background-color: #ffffff; /* Cor de fundo */
    border-radius: 0 0 15px 15px; /* Bordas arredondadas nas bordas inferiores */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4); /* Adiciona sombra */
    box-sizing: border-box; /* Inclui borda e preenchimento no cálculo da largura */
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Garante que a caixa externa esteja centralizada */
    padding-bottom: 100px
}   

.button-container {
    display: flex; /* Torna o contêiner flexível */
    align-items: center; /* Alinha os itens ao centro verticalmente */
    justify-content: center; /* Centraliza os botões no eixo horizontal */
    gap: 10px; /* Espaçamento entre os botões */
    margin-top: 20px; /* Espaço acima do contêiner, se desejado */
}

.custom-button{
    font-family: "Outfit", sans-serif; /* Defina a fonte que você deseja */
    margin: 50 20 30 20;
    margin: 10px 0; /* Margem vertical de 10px */
    background-color: #ffffff; /* Cor de fundo */
    color: #003338; /* Cor do texto */
    width: 240px; /* Largura fixa */
    height: 150px;
    border: none; /* Remove a borda padrão */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    font-size: 25px; /* Tamanho da fonte */
    font-weight: bold; /* Fonte em negrito */
    transition: background-color 0.3s; /* Efeito de transição */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra padrão dos botões */
    }



/* Efeito de hover para o botão Cadastrar Cliente */
#btn-cadast:hover {
    background-color: #64c5cf; /* Cor de fundo quando o mouse passa sobre o botão */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Sombra aumentada ao passar o mouse */
}


/* Efeito de hover para o botão Buscar Cliente */
#btn-busca:hover {
    background-color: #64c5cf; /* Cor de fundo quando o mouse passa sobre o botão */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Sombra aumentada ao passar o mouse */
}


/* Efeito de hover para o botão Gerenciar Usuários */
#btn-geruser:hover {
    background-color: #64c5cf; /* Cor de fundo quando o mouse passa sobre o botão */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Sombra aumentada ao passar o mouse */
}




.icon-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    right: 20px;
    bottom: 20px;
    font-family: 'Outfit';
    font-size: 20px;
}

/* Estilos para o ícone de desbloqueio */
.unlock-icon {
    margin: 0 3px 35px 0;
    color: #003338;
    font-size: 22px;
    text-decoration: none;
}

/* Estilos para o ícone de logout */
.logout-icon {
    margin: 0 0 20px 0;
    color: #003338;
    font-size: 22px;
    text-decoration: none;
}


/* Estilização dos inputs */
input {
    width: 260px; /* Largura total do input*/
    height: 45px; /* Ajusta a altura total do input */
    padding: 10px;
    margin: 5px 0;
    border-radius: 25px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #E0DCDC;
}

#logo-container {
    text-align: center; /* Centraliza a imagem horizontalmente */
    margin-top: 110px; /* Adiciona um espaçamento superior */
}

#logo {
    width: 120px; /* Define a largura da imagem */
    height: auto; /* Mantém a proporção original da imagem */
}


/* Estilo do botão */
button {
    padding: 10px 20px;
    background-color: #16737D;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; /* Largura total do botão */
}

button:hover {
    background-color: #1da5b4; /* Efeito ao passar o mouse */
}

/* Responsividade para telas menores */

@media (max-width: 768px) {
    #cx-extlgn {
        width: 100vw; /* Ocupa 100% da largura da tela em dispositivos móveis */
        height: 59vh; /* Ocupa 100% da altura da tela em dispositivos móveis */
        border-radius: 0 0 20px 20px; /* Remove as bordas arredondadas em dispositivos móveis */
    }
    
    #cx-intlgn {
        /* Mantém o tamanho fixo da caixa interna */
        width: 308px; /* Largura fixa */
        height: 412px; /* Altura fixa */
        top: 542px; /* Centraliza verticalmente em dispositivos móveis */
        transform: translate(-50%, -50%); /* Garante centralização horizontal e vertical */
    }
    #cx-extdash {
        width: 100%; /* Ocupa 100% da largura da tela em dispositivos móveis */
        height: 95%; /* Ocupa 100% da altura da tela em dispositivos móveis */
        border-radius: 0 0 20px 20px; /* Remove as bordas arredondadas em dispositivos móveis */
    }
    #cx-intdash {
        width: 95%; /* Ocupa 100% da largura da tela em dispositivos móveis */
        height: 30px; /* Ocupa 100% da altura da tela em dispositivos móveis */
        border-radius: 0 0 20px 20px; /* Remove as bordas arredondadas em dispositivos móveis */
    }
    
}

@media (min-width: 601px) {
    .cx- {
        width: 400px; /* Tamanho fixo para telas maiores */
    }
}



/* Estilo para o overlay */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    display: none; /* Inicialmente escondido */
}



/* Estilos para o popup */
#popup {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Estilo para a mensagem */
.mensagem {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

/* Janela cadastro */

#cx-extcad {
    font-family: "Outfit", sans-serif;
    position: fixed; /* Permite que a caixa externa permaneça fixa no topo */
    top: 0; /* Inicia no topo da tela */
    width: 70vw; /* Ocupa 70% da largura da tela em telas maiores */
    height: 90px; /* Ocupa 60% da altura da tela */
    background-color: #16737d; /* Cor de fundo */
    border-radius: 0 0 15px 15px; /* Bordas arredondadas nas bordas inferiores */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4); /* Adiciona sombra */
    box-sizing: border-box; /* Inclui borda e preenchimento no cálculo da largura */
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Garante que a caixa externa esteja centralizada */
}  
#cx-intcad {
    position: fixed; /* Permite que a caixa externa permaneça fixa no topo */
    top: 100px; /* Inicia no topo da tela */
    width: 70vw; /* Ocupa 70% da largura da tela em telas maiores */
    height: 1070px; /* Ocupa 60% da altura da tela */
    background-color: #ffffff; /* Cor de fundo */
    border-radius: 15px; /* Bordas arredondadas nas bordas inferiores */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4); /* Adiciona sombra */
    box-sizing: border-box; /* Inclui borda e preenchimento no cálculo da largura */
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Garante que a caixa externa esteja centralizada */
} 
.custom-fieldcad {
    border: .5px solid #ccc; /* Borda padrão */
    border-radius: 15px; /* Bordas arredondadas */
    padding: 50px; /* Espaçamento interno */
    margin-bottom: 15px; /* Espaçamento entre fieldsets */
    background-color: #f9f9f9; /* Cor de fundo suave */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Sombra sutil */
}
.custom-fieldcad label {
    font-weight: bold; /* Negrito para os rótulos */
    margin-bottom: 8px; /* Espaço abaixo dos rótulos */
    display: block; /* Exibe rótulos em blocos */
}

.custom-fieldcad input[type="text"],
.custom-fieldcad input[type="file"] {
    width: 100%; /* Largura total do input */
    padding: 10px; /* Espaçamento interno */
    border: 1px solid #ccc; /* Borda padrão dos inputs */
    border-radius: 15px; /* Bordas arredondadas nos inputs */
    margin-top: 1px; /* Espaço acima dos inputs */
    box-sizing: border-box; /* Inclui padding e borda no cálculo da largura */
}



.custom-fieldcad.button {
    display: flex;               /* Habilita Flexbox */
    flex-direction: column;      /* Alinha os itens em coluna */
    align-items: center;        /* Alinha horizontalmente ao centro */
    justify-content: center;    /* Alinha verticalmente ao centro */
    height: 80px;               /* Altura do botão */
    width: 80px;               /* Largura do botão */
    border: none;               /* Remove a borda padrão */
    background-color: #ffffff;  /* Cor de fundo do botão */
    color: #000000;             /* Cor do texto do botão */
    border-radius: 15px;       /* Bordas arredondadas */
    cursor: pointer;            /* Cursor de ponteiro ao passar sobre o botão */
    font-weight: bold;  /* negrito */
}

.custom-fieldcad button:hover {
    background-color: #1da5b4; /* Cor do botão ao passar o mouse */
}

.custom-fieldcad.button i {
    font-size: 27px;            /* Tamanho do ícone */
    margin-bottom: 4px;         /* Espaço abaixo do ícone */
    color: #000000;             /* Cor do ícone */
}

.custom-fieldcad span {
    font-style: italic; /* Estilo itálico para o texto dos arquivos */
    font-size: 12px;
    color: #ffffff; /* Cor do texto dos arquivos */
    display: block; /* Exibe o span em bloco */
    margin-top: 4px; /* Espaço acima do texto */
}

.document-row {
    display: flex; /* Ativa o layout flexbox */
    justify-content: space-between; /* Espaço entre as colunas */
    margin-bottom: 20px; /* Espaço entre as linhas de documentos */
}

.document-column {
    flex: 1; /* Cada coluna ocupa uma parte igual do espaço disponível */
    margin-right: 30px; /* Espaço à direita da coluna */
    border: 0px solid #ccc; /* Borda padrão */
    background-color: #9b7c18;
    padding: 5px;
    border-radius: 15px;
    height: 250px;
    width: 250px;
     
}

.document-column:last-child {
    margin-right: 0; /* Remove a margem direita da última coluna */
}

.input-group {
    display: flex;
    align-items: center;
}
