body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

form {
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px 12px;
    border: 1px solid #ddd;
    text-align: left;
}

@media (max-width: 768px) {
    form, table {
        width: 100%;
        font-size: smaller;
    }
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
}

.button:hover {
    background-color: #0056b3;
}

/* Estilo para o overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Estilo para a mensagem */
.mensagem {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
