<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</head>
<body>
    
    <div id="cx-extcad">
        <h1>Buscar Clientes</h1>
         
        <form action="/dashboard" method="GET">
            <button type="submit" class="voltar-button" aria-label="Voltar">
                <i class="fa-solid fa-angles-left"></i> <strong>Voltar</strong>
            </button>
        </form>   
    </div>

    <div id="cx-intcad">
        <div id="jan-dads-busca">
            <form method="POST">
                <div class="input-group-busca">
                    <input type="text" name="nome" placeholder="Nome">
                    <button type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
                
                <div class="input-group-busca">
                    <input type="text" name="cpf" placeholder="CPF" oninput="formatarCpf(event)">
                    <button type="button" onclick="limparCampos()"> 
                        <i class="fas fa-broom"></i>
                    </button>
                </div>
            </form>
        </div>
        
        
        <fieldset id="pagination">
            <table class="custom-table">
                {% if clientes|length == 0 %}
                <tr class="custom-row">
                    <td colspan="4">Nenhum cliente encontrado.</td>
                </tr>
                {% else %}
                {% for cliente in clientes %}
                <tr class="custom-row">
                    <td>
                        <span class="titulo-claro">Nr.</span><br>
                        <span class="valor-dado">{{ cliente.numero_identificador }}</span>
                    </td>
                    <td>
                        <span class="titulo-claro">Nome</span><br>
                        <span class="valor-dado">{{ cliente.nome }}</span>
                    </td>
                    <td>
                        <span class="titulo-claro">CPF</span><br>
                        <span class="valor-dado">{{ cliente.cpf }}</span>
                    </td>
                    <td>
                        
                        <span class="valor-dado">

                            <button class="ver-button" onclick="location.href='{{ url_for('visualizar_cliente', numero_identificador=cliente.numero_identificador) }}'">
                                <i class="fas fa-eye ver-icon"></i>
                            </button>
                            

                        </span>
                    </td>
                </tr>
                {% endfor %}
                {% endif %}
            </table>
        
        
        
            <div id="pagination-controls">
                {% if page and page > 1 %}
                    <button onclick="location.href='{{ url_for('busca_cliente', page=page - 1) }}'" id="prev-btn">
                        <i class="fa-solid fa-angle-left"></i> 
                        
                    </button>
                {% else %}
                    <button id="prev-btn" disabled>
                        <i class="fa-solid fa-angle-left"></i> 
                        
                    </button>
                {% endif %}
        
            
                {% if page and page < total_pages %}
                    <button onclick="location.href='{{ url_for('busca_cliente', page=page + 1) }}'" id="next-btn">
                    
                        <i class="fa-solid fa-angle-right"></i> 
                    </button>
                {% else %}
                    <button id="next-btn" disabled>
                        
                        <i class="fa-solid fa-angle-right"></i> 
                    </button>
                {% endif %}
            </div>    
        </fieldset>  
           
    </div>
</body>
</html>
