<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Buscar Clientes</h1>
    <table>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Arquivo</th>
            <th>Ações</th> <!-- Nova coluna para ações -->
        </tr>
        {% for cliente in clientes %}
        <tr>
            <td>{{ cliente.nome }}</td>
            <td>{{ cliente.email }}</td>
            <td><a href="{{ url_for('static', filename='uploads/' + cliente.arquivo) }}">Download</a></td>
            <!-- Botão de visualizar cliente individualmente -->
            <td><a href="{{ url_for('visualizar_cliente', cliente_id=cliente._id) }}">Visualizar</a></td>
        </tr>
        {% endfor %}
    </table>

    <!-- Botão de Voltar -->
    <a href="{{ url_for('dashboard') }}" class="button">Voltar</a>
</body>
</html>
