<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <script>
         function formatarCpf(event) {
            const input = event.target;
            let value = input.value.replace(/\D/g, ''); // Remove caracteres não numéricos
            if (value.length > 11) value = value.slice(0, 11); // Limita a 11 dígitos
            const formattedCpf = value.replace(/(\d{3})(\d)/, '$1.$2') // Adiciona o primeiro ponto
                                       .replace(/(\d{3})(\d)/, '$1.$2') // Adiciona o segundo ponto
                                       .replace(/(\d{3})(\d{1,2})$/, '$1-$2'); // Adiciona o hífen
            input.value = formattedCpf; // Atualiza o valor do input
        }
    </script>
</head>
<body>
    <h1>Buscar Clientes</h1>
    <form method="POST">
        <input type="text" name="nome" placeholder="Nome">
        <input type="text" name="cpf" placeholder="CPF" oninput="formatarCpf(event)"> <!-- Adicionado oninput -->
        <button type="submit">Buscar</button>
        <button type="button" onclick="limparCampos()">Limpar</button>
    </form>
    <table>
        <tr>
            <th>Cadastro Nr.</th>
            <th>Nome</th>
            <th>CPF</th>
            <th>Documentos</th>
            <th>Ações</th>
        </tr>
        {% if clientes|length == 0 %}
            <tr>
                <td colspan="5">Nenhum cliente encontrado.</td>
            </tr>
        {% else %}
            {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.numero_identificador }}</td>
                <td>{{ cliente.nome }}</td>
                <td>{{ cliente.cpf }}</td>
                <td>
                    {% if cliente.documentos %}
                        {% if cliente.documentos.identidade and cliente.documentos.identidade.arquivo %}
                            <a href="{{ url_for('static', filename='uploads/' + cliente.documentos.identidade.arquivo) }}">Identidade</a><br>
                        {% endif %}
                        {% if cliente.documentos.cnh and cliente.documentos.cnh.arquivo %}
                            <a href="{{ url_for('static', filename='uploads/' + cliente.documentos.cnh.arquivo) }}">CNH</a><br>
                        {% endif %}
                        {% if cliente.documentos.comprovante_endereco and cliente.documentos.comprovante_endereco.arquivo %}
                            <a href="{{ url_for('static', filename='uploads/' + cliente.documentos.comprovante_endereco.arquivo) }}">Comprovante de Endereço</a><br>
                        {% endif %}
                        {% if cliente.documentos.outros and cliente.documentos.outros.arquivo %}
                            <a href="{{ url_for('static', filename='uploads/' + cliente.documentos.outros.arquivo) }}">Outros Documentos</a><br>
                        {% endif %}
                    {% else %}
                        Nenhum documento disponível
                    {% endif %}
                </td>
                <td>
                    <a href="{{ url_for('visualizar_cliente', numero_identificador=cliente.numero_identificador) }}">Visualizar</a>
                </td>
            </tr>
            {% endfor %}
        {% endif %}
    </table>

    <div class="pagination">
        {% if page and page > 1 %}
            <a href="{{ url_for('busca_cliente', page=page - 1) }}">Anterior</a>
        {% endif %}
        <span>Página {{ page or 1 }} de {{ total_pages or 1 }}</span>
        {% if page and page < total_pages %}
            <a href="{{ url_for('busca_cliente', page=page + 1) }}">Próxima</a>
        {% endif %}
    </div>
     
    <a href="{{ url_for('dashboard') }}" class="button">Voltar</a>
</body>
</html>
