<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Buscar Clientes</h1>
    <table>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Arquivo</th>
        </tr>
        {% for cliente in clientes %}
        <tr>
            <td>{{ cliente.nome }}</td>
            <td>{{ cliente.email }}</td>
            <td><a href="{{ url_for('static', filename='uploads/' + cliente.arquivo) }}">Download</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
