<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</head>
<body>
    <div id="cx-extcad">
        <h1>Gerenciar Usuários</h1>
        <form action="/dashboard" method="GET">
            <button type="submit" class="voltar-button" aria-label="Voltar">
                <i class="fa-solid fa-angles-left"></i> <strong>Voltar</strong>
            </button>
        </form> 
    </div>
    
    <div id="cx-intcad">
        <div id="jan-cad-dads">
            <div id="jan-cad-tipo">
                <div class="input-group">
                    <form action="/cadastro_usuario" method="POST">
                        <div class="form-content">
                            <div class="form-inputs">
                                <input type="text" name="nome" placeholder="Nome" required>
                                <input type="text" name="username" placeholder="Nome de Usuário" required>
                                <input type="password" name="senha" placeholder="Senha" required>
        
                                <div class="input-group-ratio">
                                    <input type="radio" name="tipo_acesso" value="Administrador" required> Administrador
                                    <input type="radio" name="tipo_acesso" value="Padrão" required> Padrão
                                </div>
                            </div>
        
                            <div class="form-button">
                                <button type="submit"><i class="fa-solid fa-floppy-disk"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
               
        <fieldset class="custom-field-usuarios">
            <legend>Usuários Cadastrados</legend>

            <div id="user-list" class="custom-table-user">
                {% for usuario in usuarios %}
                <div class="custom-row-user user-{{ 'active' if usuario.status_usuario else 'inactive' }}" id="user-{{ usuario.username }}" data-status="{{ 'active' if usuario.status_usuario else 'inactive' }}">
                    <div class="user-info">
                        <div class="user-field">
                            <label><strong>Nome</strong></label>
                            <span>{{ usuario.nome }}</span>
                        </div>
                        <div class="user-field">
                            <label><strong>Usuário</strong></label>
                            <span>{{ usuario.username }}</span>
                        </div>
                        <div class="user-field">
                            <label><strong>Senha Padrão</strong></label>
                            <div class="password-icons">
                                <!-- Ícone lock para senha padrão -->
                                <i class="fa-solid fa-lock" id="lock-{{ usuario.username }}" 
                                    onclick="resetPassword('{{ usuario.username }}')" 
                                    style="color: rgb(139, 139, 139); display: inline;"></i>
                                <!-- Ícone unlock para senha alterada -->
                                <i class="fa-solid fa-unlock" id="unlock-{{ usuario.username }}" 
                                    style="color: orange; display: none;"></i>
                            </div>
                        </div>
                        <div class="user-field">
                            <label><strong>Ativar</strong></label>
                            <div class="status-icons">
                                <!-- Ícone thumbs-up para ativo (verde) -->
                                <i class="fa-solid fa-thumbs-up" id="thumb-up-{{ usuario.username }}" 
                                    onclick="toggleUserStatus('{{ usuario.username }}')" 
                                    style="color: green; display: {{ 'inline' if usuario.status_usuario else 'none' }}"></i>
                                <!-- Ícone thumbs-down para inativo (vermelho) -->
                                <i class="fa-solid fa-thumbs-down" id="thumb-down-{{ usuario.username }}" 
                                    onclick="toggleUserStatus('{{ usuario.username }}')" 
                                    style="color: red; display: {{ 'none' if usuario.status_usuario else 'inline' }}"></i>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- Botões de Paginação -->
            <div id="pagination-controls">
                {% if page > 1 %}
                    <!-- <a href="{{ url_for('cadastro_usuario', page=page-1) }}" id="prev-btn"><i class="fa-solid fa-angle-left"></i></a> -->

                    <button onclick="location.href='{{ url_for('cadastro_usuario', page=page - 1) }}'" id="prev-btn">
                        <i class="fa-solid fa-angle-left"></i>
                {% else %}
                    <button id="prev-btn" disabled><i class="fa-solid fa-angle-left"></i></button>
                {% endif %}


                {% if page * 5 < total_usuarios %}
                    <!-- <a href="{{ url_for('cadastro_usuario', page=page+1) }}" id="next-btn"><i class="fa-solid fa-angle-right"></i></a> -->

                    <button onclick="location.href='{{ url_for('cadastro_usuario', page=page + 1) }}'" id="next-btn">
                    
                        <i class="fa-solid fa-angle-right"></i> <!-- Ícone de avançar -->
                    </button>
                {% else %}
                    <button id="next-btn" disabled><i class="fa-solid fa-angle-right"></i></button>
                {% endif %}
            </div>
            
        </fieldset>      
    </div>
    
    <div id="overlay">
        <div id="popup">
            <div class="mensagem"></div>
            
        <button onclick="toggleOverlay()">Fechar</button>
        </div>
    </div>

    {% if usuario_duplicado %}
    <script>
        usuarioDuplicado();
    </script>
    {% endif %}
    {% if usuario_cadastrado %}
    <script>
        usuarioCadastradoSucesso();
    </script>
    {% endif %}
</body>
</html>
