<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Cliente</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/scripts.js') }}" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>

    <div id="cx-extcad">
        <h1>{{ 'Editar Cliente' if modo == 'editar' else 'Cadastro de Cliente' }}</h1>
        <!-- Botão para voltar ao dashboard -->
    
        <form action="/dashboard" method="GET">
            <button type="submit" class="voltar-button" aria-label="Voltar">
                <i class="fa-solid fa-angles-left"></i> <strong>Voltar</strong>
            </button>
        </form> 



        <fieldset class="fielset-Nr">
            <label for="numero_identificador">Registro:</label>
            <input type="text" id="numero_identificador" name="numero_identificador"
                value="{{ cliente.numero_identificador if cliente else '' }}" disabled><br><br>
        </fieldset>

        

    </div>
    <div id="cx-intcad">
        <form
            action="{% if cliente %}{{ url_for('editar_cliente', numero_identificador=cliente.numero_identificador) }}{% else %}{{ url_for('cadastro_cliente') }}{% endif %}"
            method="POST" enctype="multipart/form-data">

            <div id="jan-cad-dads">
                <div class="input-group">
                    <input type="text" id="nome" name="nome" value="{{ cliente.nome }}" placeholder="Nome" required><br><br>
                </div>
                <div class="input-group">
                    <input type="text" id="cpf" name="cpf" value="{{ cliente.cpf if cliente else '' }}" placeholder="CPF"
                    required oninput="formatarCpf(event)">
                </div>
            </div>

            <fieldset class="custom-field-documents">
                <legend>Documentos</legend>

                <div class="document-row">

                    <div class="document-column">
                        <!-- DOCUMENTO  ID -->
                        <label for="identidade" class="cadastlabel-titulo">Identidade</label>
                        <div class="button-container">
                            <button type="button" onclick="document.getElementById('identidade').click();"
                                class="custom-field-documents button">
                                <i class="fas fa-file-upload"></i> Selecionar
                            </button>
                            <button type="button" onclick="capturarImagem('identidade')"
                                class="custom-field-documents button">
                                <i class="fas fa-camera"></i> Capturar
                            </button>
                        </div>
                        <span>Arquivo: Nenhum arquivo enviado</span>
                        <label for="comentario_identidade" class="cadastlabel-comentario">Comentário:</label> <textarea
                            id="comentario_identidade" name="comentario_identidade" placeholder="Digite um comentário:"
                            rows="3">{{ cliente.documentos.identidade.comentario if cliente and cliente.documentos and cliente.documentos.identidade else '' }}</textarea>
                    </div>


                    <div class="document-column">
                        <!-- DOCUMENTO  CNH -->
                        <label for="cnh" class="cadastlabel-titulo">CNH</label>
                        <div class="button-container">
                            <button type="button" onclick="document.getElementById('cnh').click();"
                                class="custom-field-documents button">
                                <i class="fas fa-file-upload"></i> Selecionar
                            </button>
                            <button type="button" onclick="capturarImagem('cnh')" class="custom-field-documents button">
                                <i class="fas fa-camera"></i> Capturar
                            </button>
                        </div>
                        <span>Arquivo: Nenhum arquivo enviado</span>
                        <label for="comentario_cnh" class="cadastlabel-comentario">Comentário:</label> <textarea
                            id="comentario_cnh" name="comentario_cnh" placeholder="Digite comentário:"
                            rows="3">{{ cliente.documentos.cnh.comentario if cliente and cliente.documentos and cliente.documentos.cnh else '' }}</textarea>

                    </div>
                </div>

                <div class="document-row">
                    <div class="document-column">
                        <!-- DOCUMENTO  COMP END. -->
                        <label for="comprovante_endereco" class="cadastlabel-titulo">Comprovante End.</label>
                        <div class="button-container">
                            <button type="button" onclick="document.getElementById('comprovante_endereco').click();"
                                class="custom-field-documents button">
                                <i class="fas fa-file-upload"></i> Selecionar
                            </button>
                            <button type="button" onclick="capturarImagem('comprovante_endereco')"
                                class="custom-field-documents button">
                                <i class="fas fa-camera"></i> Capturar
                            </button>
                        </div>
                        <span>Arquivo: {{ cliente.documentos.comprovante_endereco.arquivo if cliente and
                            cliente.documentos and cliente.documentos.comprovante_endereco else 'Nenhum arquivo
                            enviado' }}</span>
                        <label for="comentario_comprovante" class="cadastlabel-comentario">Comentário:</label>
                        <textarea id="comentario_comprovante" name="comentario_comprovante"
                            placeholder="Digite um comentário:"
                            rows="3">{{ cliente.documentos.comprovante_endereco.comentario if cliente and cliente.documentos and cliente.documentos.comprovante_endereco else '' }}</textarea>

                    </div>

                    <div class="document-column">
                        <!-- DOCUMENTO  OUTRO. -->
                        <label for="outro" class="cadastlabel-titulo">OUTROS</label>
                        <div class="button-container">
                            <button type="button" onclick="document.getElementById('outro').click();"
                                class="custom-field-documents button">
                                <i class="fas fa-file-upload"></i> Selecionar
                            </button>
                            <button type="button" onclick="capturarImagem('outro')"
                                class="custom-field-documents button">
                                <i class="fas fa-camera"></i> Capturar
                            </button>
                        </div>
                        <span>Arquivo: {{ cliente.documentos.outro.arquivo if cliente and cliente.documentos and
                            cliente.documentos.outro else 'Nenhum arquivo enviado' }}</span>
                        <label for="comentario_outro" class="cadastlabel-comentario">Comentário:</label><textarea
                            id="comentario_outro" name="comentario_outro" placeholder="Digite um comentário:"
                            rows="3">{{ cliente.documentos.outro.comentario if cliente and cliente.documentos and cliente.documentos.outro else '' }}</textarea>

                    </div>
                </div>

            </fieldset>
            <button type="submit" class="btn-bigaction">Salvar</button>
        </form>

    </div>
    
    <!-- CPF inválido -->
    {% if cpf_invalido %}
    <script>
        cpfInvalido();
    </script>
    {% endif %}

    <!-- CPF duplicado -->
    {% if cpf_duplicado %}
    <script>
        cpfDuplicado();
    </script>
    {% endif %}
</body>

</html>