<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Dashboard</title>
</head>
<body>
    
<div id="cx-extdash">
    <div id="cx-intdash">
        <h1 id="welcome-message">
            <span class="welcome-text">Bem-vindo,</span> 
            <span class="welcome-name">{{ session['nome'] }}!</span>
        </h1>   
        <div class="button-container-dash">
            <form action="/cadastro_cliente" method="GET">
            <button class="custom-button" id="btndash-cadast">Cadastrar Cliente</button>
            </form>
            <form action="/busca_cliente" method="GET">
                <button class="custom-button" id="btndash-busca">Buscar Cliente</button>
            </form>
            <form action="/cadastro_usuario" method="GET">
                <button class="custom-button" id="btndash-geruser">Gerenciar Usuários</button>
            </form>
            
        </div>                  
    </div>
    <div class="icon-container">
        <a href="javascript:void(0);" onclick="abrirPopup()" class="unlock-icon">
            <i class="fas fa-unlock-alt fa-2x"></i>
        </a>
        <a href="{{ url_for('logout') }}" class="logout-icon">
            <i class="fas fa-sign-out-alt fa-2x"></i>
        </a>
    </div>
</div>

<div id="overlay">
    <div id="popup">
        <h2>Alterar Senha</h2>
        <form id="alterarSenhaForm" method="POST" action="{{ url_for('alterar_senha') }}" onsubmit="return false;">
            <p>
                <input type="password" name="senha_anterior" placeholder="Senha Anterior" required>
            </p>
            <p> 
                <input type="password" name="nova_senha" placeholder="Nova Senha" required>
            </p>
            <p>
                <input type="password" name="confirmar_senha" placeholder="Confirmar Nova Senha" required>
            </p>
            
            <button type="button" onclick="enviarAlterarSenha()">Alterar Senha</button>
        </form>
        <button onclick="fecharPopup()">Fechar</button>
    </div>
</div>
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
