<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Dashboard</title>
</head>
<body>
    <h1>Bem-vindo, {{ session['nome'] }}!</h1>
     
    <button onclick="window.location.href='{{ url_for('cadastro_cliente') }}'">Cadastrar Cliente</button>
    <button onclick="window.location.href='{{ url_for('busca_cliente') }}'">Buscar Cliente</button>

    <a href="{{ url_for('logout') }}">Sair</a>
</body>
</html>
