<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/scripts.js') }}" defer></script>
    <title>Login</title>
</head>
<body>
    <div id="cx-extlgn">
        <div id="logo-container">
            <img src="static/uploads/logo.png" alt="Logotipo" id="logo">
        </div>
        <div id="cx-intlgn">
            <form method="POST" action="{{ url_for('login') }}">
                <fieldset id="cxint-form">
                    <p id="cxint-formp1">
                        <input type="text" name="username" placeholder="Nome de Usuário" required>
                    </p>
                    <p id="cxint-formp2">
                        <input type="password" name="senha" placeholder="Senha" required>
                    </p>
                    <p id="cxint-formp3">
                        <button id="botao-login" type="submit">Entrar</button>
                    </p>
                </fieldset>
            </form>
        </div>
    </div>

    <div id="overlay">
        <div id="popup">
            <div class="mensagem"></div>
            <button onclick="fecharPopup()">Fechar</button>
        </div>
    </div>

    {% if usuario_desativado %}
    <script>
        usuarioDesativado();
    </script>
    {% endif %}
    
    {% if usuario_invalido %}
    <script>
        usuarioInvalido();
    </script>
    {% endif %}
</body>
</html>
